async-timeout==4.0.3
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
flask==3.0.3
Flask-Cors==4.0.1
flask-sqlalchemy==3.1.1
frozendict==2.4.4
greenlet==3.0.3
html5lib==1.1
idna==3.7
importlib-metadata==8.2.0
itsdangerous==2.2.0
jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
multitasking==0.0.11
numpy==1.24.4
pandas==2.0.3
peewee==3.17.6
platformdirs==4.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
redis==5.0.8
requests==2.32.3
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.31
typing-extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
webencodings==0.5.1
werkzeug==3.0.3
yfinance==0.2.41
zipp==3.19.2
